{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <title>Presupuesto Maestro | Inicio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!--===============================================================================================-->
    <script type="text/javascript" src="{% static 'js/balance.js' %}"></script>
</head>

<body>
    <div style="display: block; background-color: rgba(255, 0, 0, 0.604);">
        <br>
        <h2 style="color: white; text-align: center; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Contabilidad Administrativa</h2>
        <br>
        <h2 style="color: white; text-align: center; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Presupuesto Maestro</h2>
        <br>
    </div>
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100">
                    <br>
                    <div class="text-center">
                        <h1 style="font-style: italic; font-size: 20px; color: white;">3er Semestre
                        </h1>
                        <br>
                        <h1 style="font-style: italic; font-size: 20px; color: white;">UANL. FACPYA. LTI.
                        </h1>
                        <br>
                        <div style=" background-color: rgba(255, 196, 0, 0.741);">
                            <br>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/vxdeRvJAME0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <br></br>
                            <br></br>
                            <h1 style="font-style: italic; font-size: 20px; color: white;">Creacion del Presupuesto Maestro
                            </h1>
                            <br>
                            <a href="{% url 'index' %}"><div class="btn btn-primary">Generar</div></a>
                            <br><br>
                        </div>
                        <br></br>
                        <img class="img-fluid" src="{% static 'images/equipo.png' %}" alt="Equipo 2">
                        <br></br>
                        <div style=" background-color: rgba(0, 208, 255, 0.741);">
                            <br>
                            <h2>Integrantes</h2>
                            <br>
                            <h4>Daniel Salvador Cruz Cortés</h4>
                            <br>
                            <h4>Diego Armando Luna Zavalija</h4>
                            <br>
                            <h4>Thomas Eduardo Medina Sanchez</h4>
                            <br>
                            <h4>Edgar Omar Nájera Vázquez</h4>
                            <br>
                            <h4>Edgar Zamora Saucedo</h4>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>

</body>

</html>