adal==1.2.5
asgiref==3.3.0
azure-cognitiveservices-knowledge-qnamaker==0.2.0
azure-cognitiveservices-language-luis==0.7.0
azure-cognitiveservices-vision-computervision==0.7.0
azure-cognitiveservices-vision-contentmoderator==1.0.0
azure-cognitiveservices-vision-customvision==3.0.0
azure-common==1.1.25
azure-mgmt-botservice==0.2.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cryptography==3.2.1
cycler==0.10.0
dj-database-url==0.5.0
Django==3.1.3
gunicorn==20.0.4
idna==2.10
isodate==0.6.0
kiwisolver==1.3.1
matplotlib==3.3.2
msrest==0.6.19
msrestazure==0.6.4
numpy==1.19.4
oauthlib==3.1.0
Pillow==8.0.1
psycopg2==2.8.6
pycparser==2.20
PyJWT==1.7.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-decouple==3.3
pytz==2020.4
requests==2.24.0
requests-oauthlib==1.3.0
six==1.15.0
sqlparse==0.4.1
urllib3==1.25.11
whitenoise==5.2.0
wincertstore==0.2
